* {
        font-size: 16px;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  font-size: 16px;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  margin-bottom: 8px;
}

.content {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #e3f4ff;
}

.button-container {
  margin-top: 10px;
  text-align: center;
  background: #e3f4ff;
  padding: 8px;
}

button {
  margin: auto;
  padding: 8px 24px;
  display: block;
  background: white;
  border: 1px solid #eee;
}